::-webkit-scrollbar-thumb:hover {
    background: #77acc5 !important;
}
::-webkit-scrollbar-thumb:active {
    background: #77acc5 !important;
}
::-webkit-scrollbar-track {
    background: transparent !important;
    border: none !important;
    border-radius: 0 !important;
}
::-webkit-scrollbar-track:hover {
    background: transparent !important;
}
::-webkit-scrollbar-track:active {
    background: transparent !important;
}
::-webkit-scrollbar-corner {
    background: transparent !important;
}
::selection {
    background: #e3e3e3 !important;
    color: #25292a !important;
}
::-moz-selection {
    background: #e3e3e3 !important;
    color: #25292a !important;
}